h1{
    text-align: center;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
}

 .one{
    background-color: pink;
    
 }

 .two{
    text-align: center;
 }

 .three{
    text-align: center;
 }

 .center{
    text-align: center;
    margin-top: 10px;
    margin-bottom: -1%;
 }